src/META-INF/wsdl/instantCredit4x.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions name="instantCredit4x" targetNamespace="http://axes.alldata.net/web-services/instantCredit" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://axes.alldata.net/web-services/instantCredit" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<types>
<xsd:schema>
<xsd:import namespace="http://axes.alldata.net/web-services/instantCredit" schemaLocation="instantCredit4x_Schema.xml"/>
</xsd:schema>
</types>
<message name="instantCredit44">
<part element="tns:instantCredit44" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit44Response">
<part element="tns:instantCredit44Response" name="result"/>
</message>
<message name="instantCredit43">
<part element="tns:instantCredit43" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit43Response">
<part element="tns:instantCredit43Response" name="result"/>
</message>
<message name="instantCredit46">
<part element="tns:instantCredit46" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit46Response">
<part element="tns:instantCredit46Response" name="result"/>
</message>
<message name="instantCredit47">
<part element="tns:instantCredit47" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit47Response">
<part element="tns:instantCredit47Response" name="result"/>
</message>
<message name="instantCredit48">
<part element="tns:instantCredit48" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit48Response">
<part element="tns:instantCredit48Response" name="result"/>
</message>
<message name="instantCredit49">
<part element="tns:instantCredit49" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit49Response">
<part element="tns:instantCredit49Response" name="result"/>
</message>
<message name="instantCredit41">
<part element="tns:instantCredit41" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit41Response">
<part element="tns:instantCredit41Response" name="result"/>
</message>
<message name="instantCredit411">
<part element="tns:instantCredit411" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit411Response">
<part element="tns:instantCredit411Response" name="result"/>
</message>
<message name="instantCredit40">
<part element="tns:instantCredit40" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit40Response">
<part element="tns:instantCredit40Response" name="result"/>
</message>
<message name="instantCredit42">
<part element="tns:instantCredit42" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit42Response">
<part element="tns:instantCredit42Response" name="result"/>
</message>
<message name="instantCredit410">
<part element="tns:instantCredit410" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit410Response">
<part element="tns:instantCredit410Response" name="result"/>
</message>
<message name="instantCredit45">
<part element="tns:instantCredit45" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="instantCredit45Response">
<part element="tns:instantCredit45Response" name="result"/>
</message>
<portType name="InstantCredit4x">
<operation name="instantCredit44" parameterOrder="parameters Credentials">
<input message="tns:instantCredit44" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit44Request"/>
<output message="tns:instantCredit44Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit44Response"/>
</operation>
<operation name="instantCredit43" parameterOrder="parameters Credentials">
<input message="tns:instantCredit43" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit43Request"/>
<output message="tns:instantCredit43Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit43Response"/>
</operation>
<operation name="instantCredit46" parameterOrder="parameters Credentials">
<input message="tns:instantCredit46" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit46Request"/>
<output message="tns:instantCredit46Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit46Response"/>
</operation>
<operation name="instantCredit47" parameterOrder="parameters Credentials">
<input message="tns:instantCredit47" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit47Request"/>
<output message="tns:instantCredit47Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit47Response"/>
</operation>
<operation name="instantCredit48" parameterOrder="parameters Credentials">
<input message="tns:instantCredit48" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit48Request"/>
<output message="tns:instantCredit48Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit48Response"/>
</operation>
<operation name="instantCredit49" parameterOrder="parameters Credentials">
<input message="tns:instantCredit49" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit49Request"/>
<output message="tns:instantCredit49Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit49Response"/>
</operation>
<operation name="instantCredit41" parameterOrder="parameters Credentials">
<input message="tns:instantCredit41" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit41Request"/>
<output message="tns:instantCredit41Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit41Response"/>
</operation>
<operation name="instantCredit411" parameterOrder="parameters Credentials">
<input message="tns:instantCredit411" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit411Request"/>
<output message="tns:instantCredit411Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit411Response"/>
</operation>
<operation name="instantCredit40" parameterOrder="parameters Credentials">
<input message="tns:instantCredit40" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit40Request"/>
<output message="tns:instantCredit40Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit40Response"/>
</operation>
<operation name="instantCredit42" parameterOrder="parameters Credentials">
<input message="tns:instantCredit42" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit42Request"/>
<output message="tns:instantCredit42Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit42Response"/>
</operation>
<operation name="instantCredit410" parameterOrder="parameters Credentials">
<input message="tns:instantCredit410" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit410Request"/>
<output message="tns:instantCredit410Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit410Response"/>
</operation>
<operation name="instantCredit45" parameterOrder="parameters Credentials">
<input message="tns:instantCredit45" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit45Request"/>
<output message="tns:instantCredit45Response" wsam:Action="http://axes.alldata.net/web-services/instantCredit/InstantCredit4x/instantCredit45Response"/>
</operation>
</portType>
<binding name="InstantCredit4xPortBinding" type="tns:InstantCredit4x">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="instantCredit44">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit44" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit43">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit43" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit46">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit46" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit47">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit47" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit48">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit48" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit49">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit49" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit41">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit41" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit411">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit411" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit40">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit40" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit42">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit42" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit410">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit410" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="instantCredit45">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:instantCredit45" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="instantCredit4x">
<port binding="tns:InstantCredit4xPortBinding" name="InstantCredit4xPort">
<soap:address location="https://retailuat.alldata.net:443/axes103/web-services/instantCredit4x"/>
</port>
</service>
</definitions>