src/META-INF/wsdl/ping3x_Schema.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://axes.alldata.net/web-services/ping" targetNamespace="http://axes.alldata.net/web-services/ping"><xsd:complexType name="clientHeader"><xsd:sequence><xsd:element name="clientName" type="xsd:string" minOccurs="0"/><xsd:element name="correlationData" type="xsd:string" minOccurs="0"/><xsd:element name="timestamp" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="credentials"><xsd:sequence><xsd:element name="password" type="xsd:string" minOccurs="0"/><xsd:element name="username" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="pingRequest30"><xsd:sequence><xsd:element name="clientHeader" type="ns0:clientHeader" minOccurs="0"/></xsd:sequence><xsd:attribute name="version" type="xsd:string"/></xsd:complexType><xsd:complexType name="ping30"><xsd:sequence><xsd:element name="request" type="ns0:pingRequest30" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="ping30Response"><xsd:sequence><xsd:element name="response" type="ns0:response" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="response"><xsd:sequence><xsd:element name="returnCode" type="xsd:string" minOccurs="0"/><xsd:element name="returnMessage" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="credentials" type="ns0:credentials" nillable="true"/><xsd:element name="ping30" type="ns0:ping30"/><xsd:element name="ping30Response" type="ns0:ping30Response"/></xsd:schema>