src/META-INF/wsdl/sales3x.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions name="sales3x" targetNamespace="http://axes.alldata.net/web-services/sales" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://axes.alldata.net/web-services/sales" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<types>
<xsd:schema>
<xsd:import namespace="http://axes.alldata.net/web-services/sales" schemaLocation="sales3x_Schema.xml"/>
</xsd:schema>
</types>
<message name="sales33">
<part element="tns:sales33" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales33Response">
<part element="tns:sales33Response" name="result"/>
</message>
<message name="sales34">
<part element="tns:sales34" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales34Response">
<part element="tns:sales34Response" name="result"/>
</message>
<message name="sales35">
<part element="tns:sales35" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales35Response">
<part element="tns:sales35Response" name="result"/>
</message>
<message name="sales36">
<part element="tns:sales36" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales36Response">
<part element="tns:sales36Response" name="result"/>
</message>
<message name="sales30">
<part element="tns:sales30" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales30Response">
<part element="tns:sales30Response" name="result"/>
</message>
<message name="sales32">
<part element="tns:sales32" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales32Response">
<part element="tns:sales32Response" name="result"/>
</message>
<message name="sales37">
<part element="tns:sales37" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales37Response">
<part element="tns:sales37Response" name="result"/>
</message>
<message name="sales31">
<part element="tns:sales31" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sales31Response">
<part element="tns:sales31Response" name="result"/>
</message>
<portType name="Sale3x">
<operation name="sales33" parameterOrder="parameters Credentials">
<input message="tns:sales33" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales33Request"/>
<output message="tns:sales33Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales33Response"/>
</operation>
<operation name="sales34" parameterOrder="parameters Credentials">
<input message="tns:sales34" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales34Request"/>
<output message="tns:sales34Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales34Response"/>
</operation>
<operation name="sales35" parameterOrder="parameters Credentials">
<input message="tns:sales35" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales35Request"/>
<output message="tns:sales35Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales35Response"/>
</operation>
<operation name="sales36" parameterOrder="parameters Credentials">
<input message="tns:sales36" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales36Request"/>
<output message="tns:sales36Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales36Response"/>
</operation>
<operation name="sales30" parameterOrder="parameters Credentials">
<input message="tns:sales30" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales30Request"/>
<output message="tns:sales30Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales30Response"/>
</operation>
<operation name="sales32" parameterOrder="parameters Credentials">
<input message="tns:sales32" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales32Request"/>
<output message="tns:sales32Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales32Response"/>
</operation>
<operation name="sales37" parameterOrder="parameters Credentials">
<input message="tns:sales37" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales37Request"/>
<output message="tns:sales37Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales37Response"/>
</operation>
<operation name="sales31" parameterOrder="parameters Credentials">
<input message="tns:sales31" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales31Request"/>
<output message="tns:sales31Response" wsam:Action="http://axes.alldata.net/web-services/sales/Sale3x/sales31Response"/>
</operation>
</portType>
<binding name="Sale3xPortBinding" type="tns:Sale3x">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="sales33">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales33" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales34">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales34" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales35">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales35" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales36">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales36" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales30">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales30" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales32">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales32" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales37">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales37" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales31">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sales31" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="sales3x">
<port binding="tns:Sale3xPortBinding" name="Sale3xPort">
<soap:address location="https://retailuat.alldata.net:443/axes103/web-services/sales3x"/>
</port>
</service>
</definitions>