src/META-INF/wsdl/void3x.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><definitions name="void3x" targetNamespace="http://axes.alldata.net/web-services/void" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://axes.alldata.net/web-services/void" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<types>
<xsd:schema>
<xsd:import namespace="http://axes.alldata.net/web-services/void" schemaLocation="void3x_Schema.xml"/>
</xsd:schema>
</types>
<message name="sale36">
<part element="tns:sale36" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sale36Response">
<part element="tns:sale36Response" name="result"/>
</message>
<message name="void33">
<part element="tns:void33" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="void33Response">
<part element="tns:void33Response" name="result"/>
</message>
<message name="return35">
<part element="tns:return35" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="return35Response">
<part element="tns:return35Response" name="result"/>
</message>
<message name="void30">
<part element="tns:void30" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="void30Response">
<part element="tns:void30Response" name="result"/>
</message>
<message name="sale37">
<part element="tns:sale37" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="sale37Response">
<part element="tns:sale37Response" name="result"/>
</message>
<message name="return37">
<part element="tns:return37" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="return37Response">
<part element="tns:return37Response" name="result"/>
</message>
<message name="void34">
<part element="tns:void34" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="void34Response">
<part element="tns:void34Response" name="result"/>
</message>
<message name="void35">
<part element="tns:void35" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="void35Response">
<part element="tns:void35Response" name="result"/>
</message>
<message name="return36">
<part element="tns:return36" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="return36Response">
<part element="tns:return36Response" name="result"/>
</message>
<message name="return34">
<part element="tns:return34" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="return34Response">
<part element="tns:return34Response" name="result"/>
</message>
<message name="void32">
<part element="tns:void32" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="void32Response">
<part element="tns:void32Response" name="result"/>
</message>
<message name="void31">
<part element="tns:void31" name="parameters"/>
<part element="tns:credentials" name="Credentials"/>
</message>
<message name="void31Response">
<part element="tns:void31Response" name="result"/>
</message>
<portType name="Void3x">
<operation name="sale36" parameterOrder="parameters Credentials">
<input message="tns:sale36" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/sale36Request"/>
<output message="tns:sale36Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/sale36Response"/>
</operation>
<operation name="void33" parameterOrder="parameters Credentials">
<input message="tns:void33" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void33Request"/>
<output message="tns:void33Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void33Response"/>
</operation>
<operation name="return35" parameterOrder="parameters Credentials">
<input message="tns:return35" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return35Request"/>
<output message="tns:return35Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return35Response"/>
</operation>
<operation name="void30" parameterOrder="parameters Credentials">
<input message="tns:void30" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void30Request"/>
<output message="tns:void30Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void30Response"/>
</operation>
<operation name="sale37" parameterOrder="parameters Credentials">
<input message="tns:sale37" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/sale37Request"/>
<output message="tns:sale37Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/sale37Response"/>
</operation>
<operation name="return37" parameterOrder="parameters Credentials">
<input message="tns:return37" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return37Request"/>
<output message="tns:return37Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return37Response"/>
</operation>
<operation name="void34" parameterOrder="parameters Credentials">
<input message="tns:void34" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void34Request"/>
<output message="tns:void34Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void34Response"/>
</operation>
<operation name="void35" parameterOrder="parameters Credentials">
<input message="tns:void35" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void35Request"/>
<output message="tns:void35Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void35Response"/>
</operation>
<operation name="return36" parameterOrder="parameters Credentials">
<input message="tns:return36" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return36Request"/>
<output message="tns:return36Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return36Response"/>
</operation>
<operation name="return34" parameterOrder="parameters Credentials">
<input message="tns:return34" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return34Request"/>
<output message="tns:return34Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/return34Response"/>
</operation>
<operation name="void32" parameterOrder="parameters Credentials">
<input message="tns:void32" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void32Request"/>
<output message="tns:void32Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void32Response"/>
</operation>
<operation name="void31" parameterOrder="parameters Credentials">
<input message="tns:void31" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void31Request"/>
<output message="tns:void31Response" wsam:Action="http://axes.alldata.net/web-services/void/Void3x/void31Response"/>
</operation>
</portType>
<binding name="Void3xPortBinding" type="tns:Void3x">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="sale36">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sale36" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="void33">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:void33" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="return35">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:return35" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="void30">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:void30" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sale37">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:sale37" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="return37">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:return37" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="void34">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:void34" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="void35">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:void35" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="return36">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:return36" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="return34">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:return34" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="void32">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:void32" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="void31">
<soap:operation soapAction=""/>
<input>
<soap:body parts="parameters" use="literal"/>
<soap:header message="tns:void31" part="Credentials" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="void3x">
<port binding="tns:Void3xPortBinding" name="Void3xPort">
<soap:address location="https://retailuat.alldata.net:443/axes103/web-services/void3x"/>
</port>
</service>
</definitions>